Flask>=0.10.1
Flask-SQLAlchemy>=1.0.4
Flask-Migrate>=1.4.0
Flask-Security>=1.7
Flask-Login==0.2.11
Flask-WTF>=0.9.5
flask-bootstrap>=3.3
Flask-Script>=2.0.2
Flask-Mail>=0.9
waitress>=0.8
psycopg2>=2.6
bcrypt>=2.0.0
cachetools>=1.1.5
PyYAML>=3.11
docker-py>=1.6
docker-compose>=1.5.1
