{% extends "base.html" %}


{% block title %}Puffin | About{% endblock %}


{% block hero %}

    <div class="row">
        
        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-user"></span> User</h2>
            <p>
                Puffin lets you simply run web applications written by developers from around the world. 
                They will be always running and be reachable from any location.
            </p>
            <p><a class="btn btn-default" href="#about-user" role="button">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-headphones"></span> Developer</h2>
            <p>
                You can add your applications to Puffin, which will help you reach wider user audience. 
                It's easy because Puffin uses popular Docker container technology.
            </p>
            <p><a class="btn btn-default" href="#about-dev" role="button">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-wrench"></span> Sysadmin</h2>
            <p>
                If you have a spare server and would like to let other people run their applications on it, let us know. 
                You can also keep it private to run your own applications.
            </p>
            <p><a class="btn btn-default" href="#" role="button" disabled="disabled">Not available yet</a></p>
        </div>

    </div>

{% endblock %}


{% block page %}

{% endblock %}

