{% extends "base.html" %}


{% block title %}Puffin | About{% endblock %}


{% block content %}

<div class="container-fluid about">

    <div class="row intro">
        <div class="container">
            <h2>Introduction</h2>
            <p class="lead">
                Puffin lets you simply run web applications, such as blogs, forums, chat rooms, file sharing, 
                news readers and many others, which will always be reachable from any location or device.
            </p>
        </div>
    </div>

    <div class="row catalog">
        <div class="container">
            <h2>Getting Started</h2>
            <p class="lead">
                First you need to <a href="{{ url_for('security.login') }}">login</a>
                {%- if config.SECURITY_REGISTERABLE %}
                    or <a href="{{ url_for('security.register') }}">register</a>
                {%- endif %}.
                Once done, you can run any application from the <a href="{{ url_for('index') }}">catalog</a>. 
                Once started, your application will be available under your subdomain. 
                If you have any questions, please feel free to ask on the <a href="http://forum.puffin.rocks/">Forum</a>.
            </p>
        </div>
    </div>

    <div class="row hosting">
        <div class="container">
            <h2>Application Catalog</h2>
            <p class="lead">
                Puffin contains an ever growing list of web applications.
                Adding new ones is easy thanks to the popular 
                <a href="https://www.docker.com/">Docker</a> containerization technology -
                learn more about how to add <a href="https://github.com/puffinrocks/puffin/blob/master/CONTRIBUTING.md#adding-new-applications-to-the-catalog">your own application</a>. 
            </p>
        </div>
    </div>

    <div class="row start">
        <div class="container">
            <h2>Hosting</h2>
            <p class="lead">
                You can run applications on a managed platform - the service is free and no setup is required.
                Alternatively, you can choose to launch Puffin on <a href="https://github.com/puffinrocks/puffin/blob/master/CONTRIBUTING.md#running-your-own-puffin">your own server</a> 
                and let your friends run their applications on it.
            </p>
        
        </div>
    </div>

    <div class="row status">
        <div class="container">
            <h2>Status</h2>
            <p class="lead">
                Keep in mind that this is a demo platform and all data and applications will be regularly deleted.
                Puffin software is still in the alpha development stage, so it may be unstable 
                - you can track the project's progress on the <a href="http://blog.puffin.rocks/">Blog</a> 
                in the <a href="https://github.com/puffinrocks/puffin">Code</a>.

            </p>
        </div>
    </div>

</div>

{{ self.footer() }}

{% endblock %}

