{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Puffin | {{ application.name }}{% endblock %}


{% block page %}
	
<div class="application">

    <div class="page-header">
        <h1>{{ application.name }}</h1>
    </div>

    <div class="pull-right"><img class="logo" src="{{ url_for('media', path=application.logo) }}" alt="{{ application.name }}"></div>
  
    <div>
        {{ application.description | markdown | bclean | blinkify | safe }}

        <div class="meta">
            <span>
                Version:
                {% if application_image_version: %}
                    {{ application_image_version }}
                {% else %}
                    Unknown
                {% endif %}
            </span>
            &nbsp;
            {% if application_status == ApplicationStatus.CREATED %}
                <span>
                    Running Version: 
                    {% if application_version: %}
                        {{ application_version }}
                    {% else %}
                        Unknown
                    {% endif %}
                </span>
            {% endif %}
        </div>

        <div class="actions">
            {% if current_user.is_authenticated() %}
                <form class="form" method="post" role="form" action="">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                {% if application_status == ApplicationStatus.CREATED %}
                    <a class="btn btn-primary" role="button" href="{{ "http://" + application_domain }}" target="_blank"><span class="glyphicon glyphicon-share-alt"></span> Open</a>
                    <button type="submit" name="stop" value="Stop" class="btn btn-danger"><span class="glyphicon glyphicon-stop"></span> Stop</button>
                    <a class="btn btn-info" role="button" href="{{ url_for("application_settings", application_id=application.application_id) }}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
                {% elif application_status == ApplicationStatus.DELETED %}
                    <button type="submit" name="start" value="Start" class="btn btn-success"><span class="glyphicon glyphicon-play"></span> Run</button>
                    <a class="btn btn-info" role="button" href="{{ url_for("application_settings", application_id=application.application_id) }}"><span class="glyphicon glyphicon-cog"></span> Settings</a>
                {% elif application_status == ApplicationStatus.UPDATING %}
                    <button type="button" class="btn btn-warning blinking"><span class="glyphicon glyphicon-refresh"></span> Updating</button>
                    <script>
                        function check_status() {
                            $.get("{{ url_for('application_status', application_id=application.application_id) }}", function(data) {
                                if (data.status != "UPDATING") {
                                    window.location.reload(false);
                                }
                            }, "json");
                        }
                        setInterval(check_status, 2500);
                    </script>
                {% else %}
                    <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-fire"></span> Error</button>
                {% endif %}
                </form>
            {% else %}
                <a href="{{ url_for('security.login', next=request.path) }}">Log In</a> or 
                {% if config.SECURITY_REGISTERABLE %}
                    <a href="{{ url_for('security.register', next=request.path) }}">Register</a>
                {% endif %}
                to run application.
            {% endif %}
        </div>
        
    </div>
    
</div>

{% endblock %}



