{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Puffin | {{ application.name }}{% endblock %}


{% block page %}
	
<div class="row">

    <div class="pull-right"><img class="logo" src="{{ application.logo_url }}" alt="{{ application.name }}"></div>
  
    <div class="">
        <h1>{{ application.name }}</h1>
        
        <p>{{ application.description }}</p>
        
        <div>
            {% if current_user.is_authenticated() %}
                <form class="form" method="post" role="form" action="">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_errors(form, hiddens="only") }}
                {% if application_status == ApplicationStatus.CREATED %}
                    <a class="btn btn-primary" role="button" href="{{ "http://" + application_domain }}" target="_blank">Open</a>
                    {{ wtf.form_field(form.uninstall, button_map={'uninstall': 'danger'}) }}
                {% elif application_status == ApplicationStatus.DELETED %}
                    {{ wtf.form_field(form.install, button_map={'install': 'success'}) }}
                {% elif application_status == ApplicationStatus.UPDATING %}
                    <button type="button" class="btn btn-warning blinking">Updating</button>
                    <script>
                        function check_status() {
                            $.get("{{ url_for('application_status', application_id=application.application_id) }}", function(data) {
                                if (data.status != "UPDATING") {
                                    window.location.reload(false);
                                }
                            }, "json");
                        }
                        setInterval(check_status, 2500);
                    </script>
                {% else %}
                    <button type="button" class="btn btn-warning">Error</button>
                {% endif %}
                </form>
            {% else %}
                <a href="{{ url_for('security.login', next=request.path) }}">Log In</a> or 
                <a href="{{ url_for('security.register', next=request.path) }}">Register</a>
                to Install application.
            {% endif %}
        </div>
    </div>
    
</div>

{% endblock %}



