{% extends "base.html" %}
{% from 'macros.html' import application_thumbnail %}


{% block title %}Puffin{% endblock %}


{% block head %}
{{ super() }}
<meta property="og:title" content="Puffin" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://puffin.rocks" />
<meta property="og:image" content="http://puffin.rocks/static/images/puffin.png" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
<meta property="og:image:type" content="image/png" />
<meta property="og:description" content="Puffin is a webapp store. It's the easiest way to run software on the net." />
<meta property="og:site_name" content="Puffin" />
{% endblock %}


{% block hero %}

<div class="pull-right"><img src="{{ url_for('static', filename='images/puffin-scaled.png') }}"></img></div>
<h1>Welcome to Puffin!</h1>
<p>
    Puffin is a webapp store. It's the easiest way to run software on the net.
    <a href="{{ url_for("about") }}">Learn more &raquo;</a>
</p>

{% endblock %}


{% block page %}
	
    {{ self.applications() }}

{% endblock %}


{% block applications %}

<div class="row apps">
{% for application in applications %}
    {{ application_thumbnail(application) }}
{% endfor %}
</div>

{% endblock %}



