{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Puffin | Change Password{% endblock %}

{% block page %}
<div>
    <div class="page-header">
        <h1>Change Password</h1>
    </div>
    <div class="col-md-6">
        {% set form = change_password_form %}
        <form class="form" method="post" role="form" action="">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}

          {{ wtf.form_field(form.password) }}
          {{ wtf.form_field(form.new_password) }}
          {{ wtf.form_field(form.new_password_confirm) }}

          {{ wtf.form_field(form.submit) }}
        </form>
    </div>
</div>
{% endblock %}

