/* Move down content because we have a fixed navbar that is 50px tall */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;

  /* Margin bottom by footer height */
  margin-bottom: 60px;

  /* Always show scroll bar for consistent width */
  overflow-y: scroll;
}

.navbar-brand a {
    text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  /* Set the fixed height of the footer here */
  height: 60px;
}

/* Application list */
.apps {
    margin-top: 30px;
}

/* Application thumbnails */
.app.thumbnail {
    height: 335px;
}

.app.thumbnail a {
    color: black;
}

.app.thumbnail.new {
    opacity: 0.3;
    border: 2px dashed #999;
}

.screenshots {
    margin-top: 20px;
}

.blinking {
  animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0.5; }
}

.version {
    font-size: 16px;
    color: #9d9d9d;
}

.about div {
    padding-top: 20px;
    padding-bottom: 20px;
}

.about .intro {
    background-color: #ffffff;
}

.about .catalog {
    background-color: #dadbdb;
}

.about .hosting {
    background-color: #f5d4cf;
}

.about .start {
    background-color: #feedd5;
}

.about .status {
    background-color: #ffffff;
}

.application div.meta {
    margin-top: 20px;
}

.application div.actions {
    margin-top: 20px;
}

.application img {
    margin: 5px;
}

.btn {
    margin-right: 6px;
}
