/* Move down content because we have a fixed navbar that is 50px tall */
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  
  /* Margin bottom by footer height */
  margin-bottom: 60px;

  /* Always show scroll bar for consistent width */
  overflow-y: scroll;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  /* Set the fixed height of the footer here */
  height: 60px;
}

.github-fork-ribbon-wrapper {
	top: 50px;
}
.github-fork-ribbon {
	background-color: #222222;
}
.github-fork-ribbon a {
	color: #9d9d9d;
}
.github-fork-ribbon a, .github-fork-ribbon a:hover {
	border-style: none;
	text-shadow: none;
}
.github-fork-ribbon {
	box-shadow: none;
}

/* App thumbnails */
.thumbnail {
    height: 360px;
}

.thumbnail a {
    color: black;
}

.app .logo {
    float: right;
}
